#navbar-center {
    background: linear-gradient(to right, #02d4a7, #01b4a0);
    border-color: linear-gradient(to right, #02d4a7, #01b4a0);
}

.img-responsive {
    max-height: 2em;
    min-height: 2em;
}